controller/students.dtd

<!ELEMENT Students (Season,Student*)>
<!ELEMENT Season (#PCDATA)>
<!ELEMENT Student (FirstName,LastName,AverageGrade,CoursesPasses,HighGrade?)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT AverageGrade (#PCDATA)>
<!ELEMENT CoursesPasses (#PCDATA)>
<!ELEMENT HighGrade (#PCDATA)>
